# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
geodcircles
export_brainmesh
demo_geolibbrain
demo_vcglibbrain
meshneigh_edge
meshneigh_geod
geodpath

# Cmake stuff
CMakeCache.txt
Makefile
cmake_install.cmake
CMakeFiles/

